Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy

scikit-learn
matplotlib
pandas
spacy==3.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
streamlit
tensorflow-cpu

nltk
Pillow
textblob
gensim==3.8.3
keras
